<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Allgemeinwissen Quiz </title>
  <script src={{url_for('static', filename='./js/main.js')}} charset="utf-8"></script>
  <script src={{url_for('static',filename='./js/Button.js')}} charset="utf-8"></script>
  <script src={{url_for('static',filename='./js/questions.js')}} charset="utf-8"></script>
  <script src={{url_for('static',filename='./js/sideFunctions.js')}} charset="utf-8"></script>
  <script src={{url_for('static',filename='./js/events.js')}} charset="utf-8"></script>
  <script src={{url_for('static',filename='./js/variables.js')}} charset="utf-8"></script>
</head>

<body>
  <canvas id="gc" width="600" height="600"></canvas>
</body>

</html>
